.ui.container{
  max-width: 960px;
  margin: 0 auto;
}

#rolodex {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background-image: url('./images/rolodex.jpg');
  background-repeat: no-repeat;
  opacity: .5;
}

h1.ui.horizontal.header.divider {
  text-align: center;
  font-size: 3em;
  margin: 2%;
  font-family: 'Bad Script', cursive;
  color: #CC2F02;
  padding-top: 1em;
}

.ui.categories-container {
  margin: 0 auto;
  width: auto;
}

.ui.inverted.piled.segment {
  margin-top: 2em;
}